project:
  type: website

website:
  title: "web-with-r"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - py2.ipynb

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

